<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BleeperBike</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="__PUBLIC__/home/css/appreset.css">
  <link rel="stylesheet" href="__PUBLIC__/home/css/reset.css">
  <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">
  <link rel="stylesheet" href="__PUBLIC__/home/css/swiper-3.3.1.min.css">
  <script type="text/javascript" src="__PUBLIC__/home/js/reset.js"></script>
  <!-- Start of bleeperbike Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="bleeperbike.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
  /*]]>*/</script>
  <!-- End of bleeperbike Zendesk Widget script -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98871284-1', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>
<div id="container">
  <div class="wrap" id="top">
    <div class="header">
      <div class="header_l"></div>
      <div class="logo"></div>
      <div class="header_r">
        <a href="">Download</a>
      </div>
      <div class="hidden_ul">
        <ul>
          <li><a href="#top" class="muneu_li">Home</a></li>
          <li><a href="#works" class="muneu_li">How it works</a></li>
          <li><a href="#rules" class="muneu_li">Parking rules</a></li>
          <li><a href="#price" class="muneu_li">Price</a></li>
          <li><a href="" class="muneu_li">Download</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header_bg">
    <img src="__PUBLIC__/home/img/mobile/banner.png" alt="">
    <div class="circle sr-slogan">
      <p>Hassle-Free<br><font style="color: #ff7001;">Bike Rental</font></p>
    </div>
  </div>
  <!--loop-->
  <div class="banner" id="works">
    <div class="banner_title">
      <h3>HOW&nbspIT&nbspWORKS</h3>
      <p>Download the BleeperBike App onto your smart phone</p>
    </div>
    <div class="banner_loop">
      <div class="loop">
        <div class="loop_box">
          <div class="slide swiper-container" id="swiper-container1">
            <ul class="swiper-wrapper">
              <li class="swiper-slide"><img src="__PUBLIC__/home/img/mobile/register.png" alt=""></li>
              <li class="swiper-slide"><img src="__PUBLIC__/home/img/mobile/point.png" alt=""></li>
              <li class="swiper-slide"><img src="__PUBLIC__/home/img/mobile/unlock.png" alt=""></li>
              <li class="swiper-slide"><img src="__PUBLIC__/home/img/mobile/ride.png" alt=""></li>
              <li class="swiper-slide"><img src="__PUBLIC__/home/img/mobile/lock.png" alt=""></li>
            </ul>
            <div class="swiper-pagination" style="display:none"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_desc swiper-container" id="swiper-container2">
      <div class="slide_box swiper-wrapper">
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg01"></div>-->
          <h3>REGISTER</h3>
          <p>
            Register by email or phone verification
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>
          <div class="loop_bg bg02"></div>-->
          <h3>FIND</h3>
          <p>
            When you open the app all bikes near you will be displayed
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg03"></div>-->
          <h3>UNLOCK</h3>
          <p>
            Scan the QR Code or enter the BleeperBike ID No.
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg04"></div>-->
          <h3>RIDE</h3>
          <p>
            Enjoy you ride AND always obey the rules of the road
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg05"></div>-->
          <h3>LOCK</h3>
          <p>
            Push Smart lock lever to lock Bleeper.
          </p>
        </div>
      </div>
      <div class="swiper-pagination" style="bottom:0"></div>
    </div>
  </div>
  <!--meet-->
  <div class="meet">
    <div class="bleeper" id="meet">
      <div class="bleeper_box">
        <div class="bleeper_mt">
          <h3>MEET BLEEPER</h3>
          <p>BleeperBike is comfortable and fun to ride</p>
        </div>
        <div class="bleeper_bike">
          <img src="__PUBLIC__/home/img/mobile/bike.png" alt="">
          <ul class="lineBox">
            <li class="led">
              <p>Built in LED light</p>
              <div class="led_cover">
                <div></div>
                <div class="led_line cover"></div>
              </div>
            </li>
            <li class="brake">
              <p>Responsive brake</p>
              <div class="brake_cover">
                <div></div>
                <div class="brake_line cover"></div>
              </div>
            </li>
            <li class="hub">
              <p>Power generation hub</p>
              <div class="hub_cover">
                <div></div>
                <div class="hub_line cover"></div>
              </div>
            </li>
            <li class="seat">
              <p>Adjustable seat</p>
              <div class="seat_cover">
                <div></div>
                <div class="seat_line cover"></div>
              </div>
            </li>
            <li class="gps">
              <p>Smart lock with built in GPS</p>
              <div class="gps_cover">
                <div></div>
                <div class="gps_line cover"></div>
              </div>
            </li>
            <li class="built">
              <p>Built in LED lights</p>
              <div class="built_cover">
                <div></div>
                <div class="built_line cover"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--parking rules-->
  <div class="parkingRules" id="rules">
    <div class="parking_wrap">
      <div class="rule_desc">
        <h3>PARKING RULES</h3>
        <p>Please only park Bleeper at designated parking locations</p>
        <img src="__PUBLIC__/home/img/mobile/parking.png" alt="">
      </div>
      <div class="rule_morality">
        <p>It is essential that BleeperBikers <br>
          respect our bike parking rules,see images below for examples of the good,the bad <br>and the ugly!</p>
      </div>
      <div class="rule_img">
        <img src="__PUBLIC__/home/img/mobile/tuzu.png" alt="">
      </div>
    </div>
    <!--<div class="rule_design">-->
    <!--<img src="img/rule_design.png" alt="">-->
    <!--</div>-->
  </div>
  <!--price-->
  <div class="price" id="price">
    <!--<div class="price_mtline">-->
    <!--<img src="" alt="">-->
    <!--</div>-->
    <h3>PRICE</h3>
    <div class="price_wrap">
      <div class="price_fee">
        <div class="price_t">
          <img src="__PUBLIC__/home/img/mobile/PayAsYouGo.png" alt="">
        </div>
        <div class="price_fee_box">
          <foreach name="billing_data"  item="vo" key="k" >
            <p><{$vo.billing_plan_details}></p>
            <if condition="($k+1) neq count($billing_data)">
              <p>or</p>
            </if>
          </foreach>
        </div>
        <div class="price_i">
          <img src="__PUBLIC__/home/img/mobile/pay.png" alt="">
        </div>
      </div>
      <!--<div class="price_i">-->
      <!--<img src="__PUBLIC__/home/img/mobile/pay.png" alt="">-->
      <!--</div>-->
      <div class="price_credit">
        <div class="price_credit_wrap">
          <div class="credit_l">
            <div class="credit_l_img">
              <img src="__PUBLIC__/home/img/mobile/creditl.png" alt="">
            </div>
            <div class="credit_wrap">
              <p>Gain Points</p>
              <ul style="height:4rem;overflow-y: scroll">
                <foreach name="gaincredit" item="vo">
                  <li>
                    <span class="credit_descr"><{$vo.content}></span>
                    <span class="credit_countr"><{$vo.credit_point}></span>
                  </li>
                </foreach>
              </ul>
            </div>
          </div>
          <div class="credit_r">
            <div class="credit_r_img">
              <img src="__PUBLIC__/home/img/mobile/creditl.png" alt="">
            </div>
            <div class="credit_wrap">
              <p>Lose Points</p>
              <ul style="height:4rem;overflow-y: scroll">
                <foreach name="losecredit" item="vo">
                  <li>
                    <span class="credit_descr"><{$vo.content}></span>
                    <span class="credit_countr"><{$vo.credit_point}></span>
                  </li>
                </foreach>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <div class="footer">
    <div class="zezao"></div>
    <div class="faqBox">
      <div class="faq">
        <span class="close">X</span>
        <p class="faq-title">FAQ</p>
        <ul>
          <foreach name="faq"  item="vo" key="k" >
            <if condition="$k eq 0">
              <li class="navbar">
                <p>Extra information</p>
                <p>Q:<{$vo.faq_question}></p>
                <p>A:<{$vo.faq_answer}></p>
              </li>
              <else />
              <li class="navbar">
                <p>Q:<{$vo.faq_question}></p>
                <p>A:<{$vo.faq_answer}></p>
              </li>
            </if>
          </foreach>

        </ul>
        <div class="faq_nav">
          <p>FAQ</p>
          <ul>
            <li>><a href="" class="Goindex">1</a></li>
            <li>><a href="" class="Goindex">2</a></li>
            <li>><a href="" class="Goindex">3</a></li>
            <li>><a href="" class="Goindex">4</a></li>
            <li>><a href="" class="Goindex">5</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="termBox">
      <div class="term">
        <span class="close1">X</span>
        <p class="term-title">Terms&Condtions</p>
        <ul>
          <foreach name="creditcondition"  item="vo" key="k" >
            <if condition = "$vo.credit_type eq 1">
              <p>Gaincredit: [<{$vo.credit_point}>] <{$vo.content}></p>
              <else/>
              <p>Losecredit: [<{$vo.credit_point}>] <{$vo.content}></p>
            </if>
          </foreach>
        </ul>
      </div>
    </div>
    <div class="termBox2">
      <div class="term2">
        <span class="close2">X</span>
        <p class="term2-title">Privacy&nbspPolicy</p>
        <ul>
          <p>BleeperBike Privacy Policy<br>

            BleeperBike Ireland Opco Limited ("We") are committed to protecting and respecting your privacy.<br>
            This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting www.bleeperbike.com you are accepting and consenting to the practices described in this policy.
            For the purpose of the Data Protection Act 1998 (the Act), the data controller is BleeperBike Ireland Opco Limited of 149 CQD, Ringsend, Dublin 4, Ireland, D04AX64.
            Our nominated representative for the purpose of this act is Mr. Hugh Cooney<br>

            INFORMATION WE COLLECT FROM YOU<br>
            We will collect and process the following data about you:<br>
            Information you give us. This is information about you that you give us by filling in forms on our site www.bleeperbike.com ( our site) or by corresponding with us by phone, e-mail or otherwise. It includes information you provide when you download our BleeperBike app, register to use our app and/or site, subscribe to our service, place an order on our site, participate in discussion boards or other social media functions on our site, enter a competition, promotion or survey, and when you report a problem with our site. The information you give us may include your name, address, e-mail address and phone number, financial and credit card information, personal description and photograph.
            Information we collect about you. With regard to each of your visits to our site we will automatically collect the following information:<br>
            technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;<br>
            information about your visit, including the full Uniform Resource Locators (URL), clickstream to, through and from our site including date and time, products you viewed or searched for, page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs) and methods used to browse away from the page.
            information about your bike usage, the locations where you use our services and information about each journey such as the duration and distance travelled.<br>
            Information we receive from other sources. This is information we receive about you if you use any of the other websites we operate or the other services we provide. In this case we will have informed you when we collected that data if we intend to share those data internally and combine it with data collected on this site. We will also have told you for what purpose we will share and combine your data. We are working closely with third parties (including, for example, payment service providers, payment and delivery services, business partners, sub-contractors in technical, advertising networks, analytics providers, search information providers, credit reference agencies). We will notify you when we receive information about you from them and the purposes for which we intend to use that information.<br>

            COOKIES<br>
            Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. For detailed information on the cookies we use and the purposes for which we use them see our Cookie policy https://bleeperbike.com/privacy-policy.

            <br>USES MADE OF THE INFORMATION<br>
            We use information held about you in the following ways:<br>

            Information you give to us. We will use this information:<br>
            to carry out our obligations arising from any contracts entered into between you and us and to provide you with the information, products and services that you request from us;
            to provide you with information about other goods and services we offer that are similar to those that you have already purchased or enquired about;<br>
            to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you. If you are an existing customer, we will only contact you by electronic means (e-mail or SMS) with information about goods and services similar to those which were the subject of a previous sale or negotiations of a sale to you. If you are a new customer, and where we permit selected third parties to use your data, we (or they) will contact you by electronic means only if you have consented to this. If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated in the BleeperBike app on which we collect your data;
            to notify you about changes to our service;<br>
            to ensure that content from our site is presented in the most effective manner for you and for your computer.<br>

            Information we collect about you. We will use this information:<br>
            to administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;<br>
            to improve our site to ensure that content is presented in the most effective manner for you and for your computer;<br>
            to allow you to participate in interactive features of our service, when you choose to do so; as part of our efforts to keep our site safe and secure;<br>
            to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;<br>
            to make suggestions and recommendations to you and other users of our site about goods or services that may interest you or them.<br>

            Information we receive from other sources. We will combine this information with information you give to us and information we collect about you. We will use this information and the combined information for the purposes set out above (depending on the types of information we receive).

            <br>DISCLOSURE OF YOUR INFORMATION<br>
            You agree that we have the right to share your personal information with:<br>
            Any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section [xx] of the Irish Companies Act [xxxx].
            Selected third parties including:<br>
            business partners, suppliers and sub-contractors for the performance of any contract we enter into with them or you;<br>

            advertisers and advertising networks that require the data to select and serve relevant adverts to you and others. We do not disclose information about identifiable individuals to our advertisers, but we will provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day). We may also use such aggregate information to help advertisers reach the kind of audience they want to target (for example, women in SW1). We may make use of the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience;
            analytics and search engine providers that assist us in the improvement and optimisation of our site;<br>
            credit reference agencies for the purpose of assessing your credit score where this is a condition of us entering into a contract with you.<br>
            We will disclose your personal information to third parties:<br>
            In the event that we sell or buy any business or assets, in which case we will disclose your personal data to the prospective seller or buyer of such business or assets.

            <br>If BleeperBike Ireland Opco Limitied or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.
            If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms and conditions of supply www.bleeperbike.com/terms&conditions and other agreements; or to protect the rights, property, or safety of BleeperBike Ireland Opco Limited, our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.]

            <br>WHERE WE STORE YOUR PERSONAL DATA<br>
            The data that we collect from you will be transferred to, and stored at, a destination within the European Economic Area ("EEA"). It will also be processed by staff operating outside the EEA who work for us or for one of our suppliers. This includes staff engaged in, among other things, the fulfilment of your order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.

            <br>All information you provide to us is stored on our secure servers. Any payment transactions will be encrypted using SSL technology. Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.
            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.

            <br>YOUR RIGHTS<br>
            You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us at sayhello@bleeperbike.com.

            <br>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.

            <br>ACCESS TO INFORMATION<br>
            The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request will be subject to a fee of 10 to meet our costs in providing you with details of the information we hold about you.

            <br> CHANGES TO OUR PRIVACY POLICY<br>
            Any changes we make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy.

            <br>CONTACT<br>
            Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to sayhello@bleeperbike.com.
          </p>
        </ul>
      </div>
    </div>
    <div class="footer_wrap">
      <div class="bike_logo"></div>
      <ul>
        <li>
          <strong>LEGAL</strong>
          <span id="TERM">Terms&nbsp&&nbspCondtions ></span>
          <span style="margin-top: .68rem;" id="POLICY">Privacy&nbspPolicy ></span>
        </li>
        <li class="useful">
          <strong>USEFUL&nbspLINKS</strong>
          <span id="FAQ">FAQ ></span>
        </li>
        <!--<li class="apps">-->
        <!--<strong>APPS</strong>-->
        <!--<a href="">Download&nbspIOS&nbspapp</a>-->
        <!--<a href="">Download&nbspAndroid&nbspapp</a>-->
        <!--</li>-->
      </ul>
      <p class="ltd"><{$copyright.copyright_context}></p>
    </div>
  </div>
</div>
<script src="__PUBLIC__/home/js/zepto.min.js"></script>
<!--<script src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>-->
<script src="__PUBLIC__/home/js/swiper-3.3.1.jquery.min.js"></script>
<script src="__PUBLIC__/home/js/scrollreveal.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /*var mySwiper = new Swiper ('.swiper-container', {
         //            direction: 'vertical',
         loop: true,
         speed: 500,
         observer:true,
         observeParents:true,
         autoplayDisableOnInteraction : false,
         autoplay:2000,

         // 如果需要分页器
         /!* pagination: '.swiper-pagination',

         // 如果需要前进后退按钮
         nextButton: '.swiper-button-next',
         prevButton: '.swiper-button-prev',

         // 如果需要滚动条
         scrollbar: '.swiper-scrollbar',*!/
         });*/
        var Swiper1 = new Swiper('#swiper-container1',{
            loop: true,
            speed: 500, observer:true,
            observeParents:true,autoplayDisableOnInteraction : false,
            autoplay:3000,
            pagination: '.swiper-pagination',
        });
        var Swiper2 = new Swiper('#swiper-container2',{
            loop: true,
            speed: 500,
            observer:true, observeParents:true,
            autoplayDisableOnInteraction :false,
            autoplay: 3000,

            pagination: '.swiper-pagination',
        });
        Swiper1.params.control = Swiper2;//需要在Swiper2初始化后，Swiper1控制Swiper2
        Swiper2.params.control = Swiper1;//需要在Swiper1初始化后，Swiper2控制Swiper1
        var Swiper3 = new Swiper('#swiper-container3',{
            control: [Swiper1, Swiper2],//控制前面两个Swiper
        });

        //menue
        var $menue = $('.header_l');
        var $hiddenUl = $('.hidden_ul');
        var speed = 0;
        var num = 0;
        $menue.click(function () {
            if($hiddenUl.css('display') == 'none'){
                $hiddenUl.show();
            }else if($hiddenUl.css('display') == 'block'){
                $hiddenUl.hide();
            }
        });
        $('.muneu_li').click(function () {
            $hiddenUl.hide();
        })
    });

    //        scroll
    window.onscroll = function() {
        var maxWidth = 750;
        var deviceWidth = document.documentElement.clientWidth;
        var size = deviceWidth/10;
        var scrollTop = (document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop)/size;
//            console.log(scrollTop);
//            console.log(deviceWidth);
        if(deviceWidth <320){
            if(scrollTop >=36){
//                    alert('ip5')
                $('.lineBox>li>p').show(100);
                $('.led_cover').show(700);
                $('.brake_cover').show(700);
                $('.hub_cover').show(700);
                $('.seat_cover').show(700);
                $('.gps_cover').show(700);
                $('.built_cover').show(700);
            } else if(scrollTop <=22 || scrollTop >=56){
                $('.lineBox>li>p').hide(100);
                $('.led_cover').hide();
                $('.brake_cover').hide();
                $('.hub_cover').hide();
                $('.seat_cover').hide();
                $('.gps_cover').hide();
                $('.built_cover').hide();
            }
        }
        if(deviceWidth >=320 && deviceWidth <375){
            if(scrollTop >=37){
//                    alert('ip5+++')
                $('.lineBox>li>p').show(100);
                $('.led_cover').show(700);
                $('.brake_cover').show(700);
                $('.hub_cover').show(700);
                $('.seat_cover').show(700);
                $('.gps_cover').show(700);
                $('.built_cover').show(700);
            }
            else if(scrollTop <=22 || scrollTop >=56){
                $('.lineBox>li>p').hide(100);
                $('.led_cover').hide();
                $('.brake_cover').hide();
                $('.hub_cover').hide();
                $('.seat_cover').hide();
                $('.gps_cover').hide();
                $('.built_cover').hide();
            }
        }
        if(deviceWidth >=375 && deviceWidth <414){
            if(scrollTop >=37){
//                    alert('ip6+++')
                $('.lineBox>li>p').show(100);
                $('.led_cover').show(700);
                $('.brake_cover').show(700);
                $('.hub_cover').show(700);
                $('.seat_cover').show(700);
                $('.gps_cover').show(700);
                $('.built_cover').show(700);
            }else if(scrollTop <=22 || scrollTop >=56){
                $('.lineBox>li>p').hide(100);
                $('.led_cover').hide();
                $('.brake_cover').hide();
                $('.hub_cover').hide();
                $('.seat_cover').hide();
                $('.gps_cover').hide();
                $('.built_cover').hide();
            }
        }
        if(deviceWidth >=414 && deviceWidth <750){
            if(scrollTop >=39){
//                    alert('ip7+++')
                $('.lineBox>li>p').show(100);
                $('.led_cover').show(700);
                $('.brake_cover').show(700);
                $('.hub_cover').show(700);
                $('.seat_cover').show(700);
                $('.gps_cover').show(700);
                $('.built_cover').show(700);
            }else if(scrollTop <=22 || scrollTop >=56){
                $('.lineBox>li>p').hide(100);
                $('.led_cover').hide();
                $('.brake_cover').hide();
                $('.hub_cover').hide();
                $('.seat_cover').hide();
                $('.gps_cover').hide();
                $('.built_cover').hide();
            }
        }
        if(deviceWidth >=750){
            if(scrollTop >=43){
//                    alert('ip7+++')
                $('.lineBox>li>p').show(100);
                $('.led_cover').show(700);
                $('.brake_cover').show(700);
                $('.hub_cover').show(700);
                $('.seat_cover').show(700);
                $('.gps_cover').show(700);
                $('.built_cover').show(700);
            }else if(scrollTop <=28 || scrollTop >=55){
                $('.lineBox>li>p').hide(100);
                $('.led_cover').hide();
                $('.brake_cover').hide();
                $('.hub_cover').hide();
                $('.seat_cover').hide();
                $('.gps_cover').hide();
                $('.built_cover').hide();
            }
        }
    };
    window.sr = ScrollReveal();
    sr.reveal('.sr-slogan', {
        origin: 'top',
        duration: 500,
        scale: 1.1,
        mobile: true,
    }, 300);
    //        console.log(scrollTop);
    $('#FAQ').click(function () {
        $('.zezao').show();
        $('.faq').show();
    });
    $('.close').click(function () {
        $('.zezao').hide();
        $('.faq').hide();
    });
    setTimeout(function () {
        $('.circle').show(700);
    },800);

    $('#TERM').click(function () {
        $('.zezao').show();
        $('.term').show();
    });
    $('.close1').click(function () {
        $('.zezao').hide();
        $('.term').hide();
    });
    $('#POLICY').click(function () {
        $('.zezao').show();
        $('.term2').show();
    });
    $('.close2').click(function () {
        $('.zezao').hide();
        $('.term2').hide();
    });
    $('.zezao').click(function () {
        $('.zezao').hide();
        $('.term').hide();
        $('.faq').hide();
        $('.term2').hide();
    })
    var navbar = document.getElementsByClassName('navbar');
    var Goindex = document.getElementsByClassName('Goindex');
    for(var i=0;i<navbar.length;i++){
//				var index = hover[i];
        navbar[i].setAttribute("id",i);
        var id = navbar[i].getAttribute("id");
//				console.log(hover[i])
        console.log(id);
//
    }
    for(var i=0;i<Goindex.length;i++){
//				var index = hover[i];
        Goindex[i].setAttribute("href",'#'+i);
        var index = Goindex[i].getAttribute("href");
//				console.log(hover[i])
        console.log(index);
//
    }
</script>
</body>
</html>