<!-- Modal -->
<div class="modal fade bs-modal-lg" id="faq" tabindex="-1" role="dialog" aria-labelledby="faq">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="faq">FAQ</h4>
      </div>
      <div class="modal-body">

          <% @faqs.each do |faq| %>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="">
                <span role="button" data-toggle="collapse" data-parent="#accordion" href="#<%=faq.id%>" aria-expanded="true" aria-controls="collapseOne">
                  <%=faq.question%>
                </span>
                  </h4>
                </div>
                <div id="<%=faq.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <%=faq.answer%>
                  </div>
                </div>
              </div>
              </div>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>