<!-- Privacy Modal -->
<div class="modal fade bs-modal-lg" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacy">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="privacy">BleeperBike Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <div>

          <h4 class="list-group-item-heading">Privacy Policy</h4>            <br>


          <p class="list-group-item-text">In order to register with Bleeperbikes Ireland Opco Limited, subscribers will
            be required to provide personal data (as defined in the Data Protection Acts 1988 and 2003). Any information
            supplied will be treated strictly in accordance with the Data Protection Acts 1988 and 2003. At no time will
            information be disclosed to any other third parties, unless in accordance with the Law. Personal data may be
            anonymised and used for statistical purposes. The Provider will ensure that adequate contractual and
            technical safeguards are in place to protect personal data and that any use of personal data is done in
            accordance with applicable laws.</p>             <br>

          </br>
          <h4 class="list-group-item-heading">Privacy Policy (for Third-Party Data Subjects)</h4>             <br>


          <p>Preamble</p>           <br>


          <p class="list-group-item-text">1. Bleeperbike Ireland Opco Limited understands the importance of data privacy
            and is
            strongly committed to protecting personal data.</p>             <br>


          <p class="list-group-item-text">2. The purpose of this privacy policy is to inform you about the commitments
            made
            and practical measures taken by Bleeperbike Ireland Opco Limited to protect your personal
            data.</p>           <br>


          <p class="list-group-item-text">3. This privacy policy may be amended to reflect changes in laws, regulations
            and
            decisions of the Office of the Data Protection Commissioner.
          </p>           <br>

          <h4 class="list-group-item-heading">Data collected</h4>            <br>


          <p class="list-group-item-text">4. Bleeperbike Ireland Opco Limited endeavours to collect and process only
            strictly
            necessary data in view of the purpose for which the data are processed.
            Purpose of the data collected</p>          <br>


          <h4 class="list-group-item-heading">Purpose of the data collected</h4>            <br>


          <p class="list-group-item-text">5. Bleeperbike Ireland Opco Limited processes data for explicit, legitimate
            and specified
            purposes in relation to the operation of the Bleeperbikes scheme.</p>            <br>


          <p class="list-group-item-text">6. Your data is processed for the following purposes:
          <ul>
            <li>• managing your registration for membership of Bleeperbikes;</li>
            <li>• managing your subscription and payments to Bleeperbikes.</li>
          </ul>
          </p>             <br>


          <p class="list-group-item-text">7. These purposes have been communicated to our Data Protection Officer via
            the
            relevant processes. </p>             <br>

          <h4 class="list-group-item-heading">Information of users</h4>            <br>


          <p class="list-group-item-text">8.In accordance with the Data Protection Act, Bleeperbike Ireland Opco Limited
            informs you
            about the processing of personal data it carries out.</p>               <br>


          <p class="list-group-item-text">9. Whenever it collects personal data Bleeperbike Ireland Opco Limited will
            provide you with
            clear information including:
          <ul>
            <li>• the identity of the controller;</li>
            <li>• the purpose for which your personal data are collected;</li>
            <li>• whether replies to questions are compulsory or optional;</li>
            <li>• the existence of, and conditions to exercise, your rights to inquire about,
              access, and rectify all of the data relating to you and to object to their
              processing.
            </li>
          </ul>
          </p>                   <br>

          <h4 class="list-group-item-heading">Data recipients</h4>            <br>

          <p class="list-group-item-text">10.Bleeperbike Ireland Opco Limited discloses your personal data only to
            authorised and
            specified recipients. Bleeperbike Ireland Opco Limited may be required to provide personal
            data to law enforcement authorities such as An Garda Síochána on request.</p>            <br>


          <p class="list-group-item-text">11. The recipients of your personal data are the relevant departments within
            Bleeperbike Ireland Opco Limited.</p>                          <br>


          <p class="list-group-item-text">12. Your personal data may also be transferred to Bleeperbike Ireland Opco
            Limited
            partners, except if you notify your opposition to the address mentioned at point 17.</p>             <br>


          <h4 class="list-group-item-heading">Data retention</h4>
          <br>

          <p class="list-group-item-text">13. Bleeperbike Ireland Opco Limited keeps your data only for the time
            necessary to carry
            out the operations for which they were collected and in accordance with the
            legislation in force.</p>
          <br>


          <h4 class="list-group-item-heading">Cookies</h4>           <br>


          <p class="list-group-item-text">14. Bleeperbike Ireland Opco Limited website uses cookies.
          </p>
          <br>

          <p class="list-group-item-text">15. The use of cookies is governed by the Cookie Policy available at the
            following
            address: <a href="http://www.Bleeperbike.com/">http://www.Bleeperbike.com/</a></p>
          <br>


          <h4 class="list-group-item-heading">Security</h4>           <br>

          <p class="list-group-item-text">16.Bleeperbike Ireland Opco Limited secures your personal data by implementing
            data
            protection measures strengthened by the use of physical and logical security
            measures.</p>

          <br>
          <h4 class="list-group-item-heading">Your rights</h4>

          <p class="list-group-item-text">17. In accordance with Data Protection legislation, you have the right to
            inquire
            about, access, and rectify all of the data relating to you. You have the right to object
            on legitimate grounds to their processing. You can exercise these rights by sending
            a letter, together with a copy of a signed identity document, to the Data Protection
            Officer by email to <a href="mailto:sayhello@bleeperbike.com">sayhello@bleeperbike.com</a>.
            or by post to the following address:
            Bleeperbike Ireland Opco Limited – Temple Chambers 3 Burlington Road Dublin 4 D04RD68.</p>
          <br>

          <h4 class="list-group-item-heading">Contact us</h4>


          <p class="list-group-item-text">18. For all enquiries regarding the privacy policy of Bleeperbike Ireland Opco
            Limited, please
            contact <a href="mailto:sayhello@bleeperbike.com">sayhello@bleeperbike.com</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>