<!-- Privacy Modal -->
<div class="modal fade bs-modal-lg" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacy">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="privacy">BleeperBike Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <div>

          <h4 class="list-group-item-heading">BleeperBike Privacy Policy</h4>            <br>


          <p class="list-group-item-text">BleeperBike Ireland Opco Limited ("We") are committed to protecting and
            respecting your privacy.</p>                  <br>


          <p class="list-group-item-text"> This policy sets out the basis on which any personal data we collect from
            you, or that you provide to us, will be processed by us. Please read the following carefully to understand
            our views and practices regarding your personal data and how we will treat it. By visiting
            www.bleeperbike.com you are accepting and consenting to the practices described in this policy.
            For the purpose of the Data Protection Act 1998 (the Act), the data controller is BleeperBike Ireland Opco
            Limited of 149 CQD, Ringsend, Dublin 4, Ireland, D04AX64.
            Our nominated representative for the purpose of this act is Mr. Hugh Cooney</p>             <br>

          </br>
          <h4 class="list-group-item-heading">INFORMATION WE COLLECT FROM YOU</h4>             <br>


          <p>We will collect and process the following data about you:</p>           <br>


          <p class="list-group-item-text">Information you give us. This is information about you that you give us by
            filling in forms on our site
            www.bleeperbike.com ( our site) or by corresponding with us by phone, e-mail or otherwise. It includes
            information you provide when you download our BleeperBike app, register to use our app and/or site,
            subscribe
            to our service, place an order on our site, participate in discussion boards or other social media functions
            on our site, enter a competition, promotion or survey, and when you report a problem with our site. The
            information you give us may include your name, address, e-mail address and phone number, financial and
            credit
            card information, personal description and photograph.
            Information we collect about you. With regard to each of your visits to our site we will automatically
            collect
            the following information:</p>             <br>


          <p class="list-group-item-text">Technical information, including the Internet protocol (IP) address used to
            connect your computer to the
            Internet, your login information, browser type and version, time zone setting, browser plug-in types and
            versions, operating system and platform;information about your visit, including the full Uniform Resource
            Locators
            (URL), clickstream to, through and
            from our site including date and time, products you viewed or searched for, page response times, download
            errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and
            mouse-overs) and methods used to browse away from the page.
            information about your bike usage, the locations where you use our services and information about each
            journey
            such as the duration and distance travelled.</p>           <br>


          <p class="list-group-item-text">Information we receive from other sources. This is information we receive
            about you if you use any of the
            other websites we operate or the other services we provide. In this case we will have informed you when we
            collected that data if we intend to share those data internally and combine it with data collected on this
            site. We will also have told you for what purpose we will share and combine your data. We are working
            closely
            with third parties (including, for example, payment service providers, payment and delivery services,
            business
            partners, sub-contractors in technical, advertising networks, analytics providers, search information
            providers, credit reference agencies). We will notify you when we receive information about you from them
            and
            the purposes for which we intend to use that information.</p>           <br>


          <h4 class="list-group-item-heading">COOKIES</h4>           <br>


          <p class="list-group-item-text">Our website uses cookies to distinguish you from other users of our website.
            This helps us to provide you with
            a good experience when you browse our website and also allows us to improve our site. For detailed
            information
            on the cookies we use and the purposes for which we use them see our Cookie policy
            https://bleeperbike.com/privacy-policy.</p>          <br>


          <h4 class="list-group-item-heading">USES MADE OF THE INFORMATION</h4>            <br>


          <p class="list-group-item-text">We use information held about you in the following ways:</p>            <br>


          <p class="list-group-item-text">Information you give to us. We will use this information:</p>             <br>


          <p class="list-group-item-text">to carry out our obligations arising from any contracts entered into between
            you and us and to provide you
            with the information, products and services that you request from us; </p>             <br>

          <p class="list-group-item-text">to provide you with information about other goods and services we offer that
            are similar to those that you
            have already purchased or enquired about;</p>             <br>


          <p class="list-group-item-text">to provide you, or permit selected third parties to provide you, with
            information about goods or services we
            feel may interest you. If you are an existing customer, we will only contact you by electronic means (e-mail
            or SMS) with information about goods and services similar to those which were the subject of a previous sale
            or negotiations of a sale to you. If you are a new customer, and where we permit selected third parties to
            use
            your data, we (or they) will contact you by electronic means only if you have consented to this. If you do
            not
            want us to use your data in this way, or to pass your details on to third parties for marketing purposes,
            please tick the relevant box situated in the BleeperBike app on which we collect your data;
            to notify you about changes to our service;</p>               <br>


          <p class="list-group-item-text">to ensure that content from our site is presented in the most effective manner
            for you and for your
            computer.</p>                   <br>


          <h4 class="list-group-item-heading">Information we collect about you. We will use this information:</h4>
          <br>


          <p class="list-group-item-text">to administer our site and for internal operations, including troubleshooting,
            data analysis, testing,
            research, statistical and survey purposes;</p>            <br>


          <p class="list-group-item-text">to improve our site to ensure that content is presented in the most effective
            manner for you and for your
            computer;</p>                          <br>


          <p class="list-group-item-text">to allow you to participate in interactive features of our service, when you
            choose to do so; as part of our
            efforts to keep our site safe and secure;</p>             <br>


          <p class="list-group-item-text">to measure or understand the effectiveness of advertising we serve to you and
            others, and to deliver relevant
            advertising to you;</p>              <br>


          <p class="list-group-item-text">to make suggestions and recommendations to you and other users of our site
            about goods or services that may
            interest you or them.</p>                             <br>


          <p class="list-group-item-text">Information we receive from other sources. We will combine this information
            with information you give to us
            and information we collect about you. We will use this information and the combined information for the
            purposes set out above (depending on the types of information we receive).</p>            <br>


          <h4 class="list-group-item-heading">DISCLOSURE OF YOUR INFORMATION</h4>
          <br>

          <p class="list-group-item-text">You agree that we have the right to share your personal information with:</p>
          <br>

          Any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as
          defined in section [xx] of the Irish Companies Act [xxxx].
          Selected third parties including: business partners, suppliers and sub-contractors for the performance of any
          contract we enter into with them
          or you; advertisers and advertising networks that require the data to select and serve
          relevant adverts to you and
          others. We do not disclose information about identifiable individuals to our advertisers, but we will
          provide
          them with aggregate information about our users (for example, we may inform them that 500 men aged under 30
          have clicked on their advertisement on any given day). We may also use such aggregate information to help
          advertisers reach the kind of audience they want to target (for example, women in SW1). We may make use of
          the
          personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying
          their advertisement to that target audience;
          analytics and search engine providers that assist us in the improvement and optimisation of our site;
          credit reference agencies for the purpose of assessing your credit score where
          this is a condition of us
          entering into a contract with you.</p>
          <br>

          <p class="list-group-item-text">We will disclose your personal information to third parties:</p>
          <br>

          <p class="list-group-item-text">In the event that we sell or buy any business or assets, in which case we will
            disclose your personal data to
            the prospective seller or buyer of such business or assets.</p>
          <br>

          <p class="list-group-item-text">If BleeperBike Ireland Opco Limitied or substantially all of its assets are
            acquired by a third party, in
            which case personal data held by it about its customers will be one of the transferred assets.
            If we are under a duty to disclose or share your personal data in order to comply with any legal obligation,
            or in order to enforce or apply our terms and conditions of supply www.bleeperbike.com/terms&conditions and
            other agreements; or to protect the rights, property, or safety of BleeperBike Ireland Opco Limited, our
            customers, or others. This includes exchanging information with other companies and organisations for the
            purposes of fraud protection and credit risk reduction.]</p>

          <br>
          <h4 class="list-group-item-heading">WHERE WE STORE YOUR PERSONAL DATA</h4>

          <p class="list-group-item-text">The data that we collect from you will be transferred to, and stored at, a
            destination within the European
            Economic Area ("EEA"). It will also be processed by staff operating outside the EEA who work for us or for
            one
            of our suppliers. This includes staff engaged in, among other things, the fulfilment of your order, the
            processing of your payment details and the provision of support services. By submitting your personal data,
            you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure
            that
            your data is treated securely and in accordance with this privacy policy.</p>
          <br>

          <p class="list-group-item-text">All information you provide to us is stored on our secure servers. Any payment
            transactions will be
            encrypted using SSL technology. Where we have given you (or where you have chosen) a password which enables
            you to access certain parts of our site, you are responsible for keeping this password confidential. We ask
            you not to share a password with anyone.</p>
          <br>

          <p class="list-group-item-text">Unfortunately, the transmission of information via the internet is not
            completely secure. Although we will do
            our best to protect your personal data, we cannot guarantee the security of your data transmitted to our
            site;
            any transmission is at your own risk. Once we have received your information, we will use strict procedures
            and security features to try to prevent unauthorised access.</p>

          <br>
          <h4 class="list-group-item-heading">YOUR RIGHTS</h4>

          <p class="list-group-item-text">You have the right to ask us not to process your personal data for marketing
            purposes. We will usually inform
            you (before collecting your data) if we intend to use your data for such purposes or if we intend to
            disclose
            your information to any third party for such purposes. You can exercise your right to prevent such
            processing
            by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any
            time by contacting us at <a href="mailto:sayhello@bleeperbike.com">sayhello@bleeperbike.com</a>.
          </p>

          <br>

          <p class="list-group-item-text">Our site may, from time to time, contain links to and from the websites of our
            partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note
            that these websites
            have their own privacy policies and that we do not accept any responsibility or liability for these
            policies. Please check these policies before you submit any personal data to these websites.</p>
          <br>
          <h4 class="list-group-item-heading">ACCESS TO INFORMATION</h4>

          <p class="list-group-item-text">The Act gives you the right to access information held about you. Your right
            of access can be exercised in
            accordance with the Act. Any access request will be subject to a fee of 10 to meet our costs in providing
            you
            with details of the information we hold about you.</p>

          <br>
          <h4 class="list-group-item-heading">CHANGES TO OUR PRIVACY POLICY</h4>

          <p class="list-group-item-text">Any changes we make to our privacy policy in the future will be posted on this
            page and, where appropriate,
            notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy
            policy.</p>

          <br>
          <h4 class="list-group-item-heading">CONTACT</h4>

          <p class="list-group-item-text">Questions, comments and requests regarding this privacy policy are welcomed
            and should be addressed to
            <a href="mailto:sayhello@bleeperbike.com">sayhello@bleeperbike.com</a>.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>