<!-- Terms & Conditions Modal -->
<div class="modal fade bs-modal-lg" id="termscond" tabindex="-1" role="dialog" aria-labelledby="termscond">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="termscond">Bike Terms & Conditions</h4>
      </div>
      <div class="modal-body">
        <div>
          <h4 class="list-group-item-heading">Bike Terms & Conditions</h4><br>

          <h4 class="list-group-item-heading">1. INFORMATION ABOUT US AND HOW TO CONTACT US</h4> <br>

          <p class="list-group-item-text">These terms and conditions apply to your registration to and/or use of the
            BleeperBike bike sharing scheme provided by BleeperBike Ireland Opco Limited. BleeperBike Ireland Opco
            Limited is a company registered in Ireland. Our company registration number is 601088 and our registered
            office is at Temple Chambers 3 Burlington Road Dublin 4 D04RD68</p><br>

          <p class="list-group-item-text">Website: <a href="www.bleeperbike.com">www.bleeperbike.com</a></p><br>

          <p class="list-group-item-text">You can contact our customer service team by writing to us at
            <a href="mailto:sayhello@bleeperbike.com">sayhello@bleeperbike.com</a>.
            If we have to contact you we will communicate through the App or by writing to you. </p><br>

          <h4 class="list-group-item-heading">2. TERMS WITH DEFINED MEANINGS</h4><br>

          <p class="list-group-item-text">2.1 In the terms the following words have the following meanings:</p><br>

          <p class="list-group-item-text">App: means the BleeperBike app downloadable from the App Store and the Play
            Store.</p>

          <p class="list-group-item-text">Bike: means a bike made available for hire by BleeperBike.</p>

          <p class="list-group-item-text">Charges: the charges payable by you in respect of bike hire and any additional
            charges that may be payable in accordance with paragraphs 7 or 9 below.
            Registered User: refers to a person who has registered to use the BleeperBike service by providing us with
            certain personal and payment details when registering for an account with us.</p>

          <p class="list-group-item-text">We, our and us: refers to BleeperBike.</p>

          <p class="list-group-item-text">You, your: refers to a user of the BleeperBike service.</p><br>

          <h4 class="list-group-item-heading">3. BleeperBike TERMS</h4><br>

          <p class="list-group-item-text">3.1 These are the terms and conditions on which we offer bike hire and related
            products, services and digital content.</p>

          <p class="list-group-item-text">3.2 We reserve the right to refuse BleeperBike membership at our complete
            discretion.</p>

          <p class="list-group-item-text">3.3 Please read these terms carefully. These terms tell you who we are and
            more information about our services and the charges applicable. </p>

          <p class="list-group-item-text">3.4 You must be 18 or over to set up a BleeperBike account and hire a
            bike.</p>

          <p class="list-group-item-text">3.5 You agree that we will process all personal data in accordance with
            our Privacy Policy.</p>

          <p class="list-group-item-text">3.6 We reserve the right to suspend your account at any time for your
            suspected failure to comply with these terms and conditions.</p>

          <p class="list-group-item-text">3.7 We may amend these terms and conditions, our Charges and details of the
            BleeperBike service from time to time. In these circumstances, you may be eligible for a refund of certain
            Charges that you have paid us in accordance with our refund policy. </p>

          <p class="list-group-item-text">3.8 No staff member other than a company director has authority to make
            individual exceptions or amendments to your contract with us.</p>

          <p class="list-group-item-text">3.9 We will always try to run a reliable service. Sometimes our bike hire
            service will be unable to operate for reasons beyond our reasonable control. </p>

          <p class="list-group-item-text">3.10 We offer no guarantee that a bike will be available when needed. All bike
            hire is subject to availability.</p><br>

          <h4 class="list-group-item-heading">4. HIRING AND RETURNING BIKES</h4><br>

          <p class="list-group-item-text">4.1 You may unlock a bike by scanning the QR code on the lock of the bike. If
            you are unable to scan the QR code successfully for whatever reason, you may alternatively enter the bikes
            identification number to unlock the bike. The bikes identification number is on both sides of the bike and
            starts with 17. </p>

          <p class="list-group-item-text">4.2 When you have finished riding the bike, you may park it at any of the
            recognised public cycle parking spaces identified on our map. If a bike is not parked in one of these
            identified spaces then it is either deemed mis-parked or lost. You must park your bike in a tidy,
            unobtrusive manner.</p>

          <p class="list-group-item-text">4.3 To park the bike, place it next to a bike rack, engage the lock and tap on
            End Journey on the App.</p><br>

          <h4 class="list-group-item-heading">5. BIKE USAGE CHARGES</h4><br>

          <p class="list-group-item-text">5.1 You must have a minimum of €1 credit on your e-wallet or have a valid
            membership to be able to unlock a bike.</p>

          <p class="list-group-item-text">5.2 We charge €1 per hour and €1 for each hour thereafter for our bike
            hire.</p>

          <p class="list-group-item-text">5.3 You need to provide a valid debit or credit card, which is either a VISA,
            Visa Electron, Mastercard or Amex and which is accepted by us and from which we can deduct the Charges.</p>

          <p class="list-group-item-text">5.4 During the period of you being a registered user, you agree not to cancel
            your payment card without first telling us and providing an alternative payment card from which we can
            collect the Charges.</p>

          <p class="list-group-item-text">5.5 BleeperBike bonus credit is not refundable.</p><br>

          <h4 class="list-group-item-heading">6. MEMBERSHIPS</h4><br>

          <p class="list-group-item-text">6.1 Memberships allow the member up to four
            rides a day and up to one hour each. </p>

          <p class="list-group-item-text">6.2 If you exceed this daily allowance as a member, you will be charged €1 per
            hour in accordance with our standard usage fee.</p>

          <p class="list-group-item-text">6.3 You may purchase a €5 Day Pass, which allows for 12 hours usage for
            €5. </p>

          <p class="list-group-item-text">6.4 The annual memberships and the Day Pass shall commence at
            the point of purchase.</p>

          <p class="list-group-item-text">6.5 The annual memberships and the Day Pass shall
            automatically expire at the end of the relevant period. Upon expiration, you continue to be a registered
            user and have the option to purchase another membership or Day Pass.</p>

          <p class="list-group-item-text">6.6 You may cancel your membership to the BleeperBike service at any time
            within 14 days of first becoming a member. If you cancel your membership early, we will deduct our fees for
            your use up to the point of cancellation, calculated on the basis of our standard €1 per hour fee. No
            refund will be given in respect of any cancellation after this 14 day period.</p><br>

          <h4 class="list-group-item-heading">7. PERIOD OF USE</h4><br>

          <p class="list-group-item-text">7.1 BleeperBike should not be used for more than 24 consecutive hours. 24
            consecutive hours is the maximum period of use.</p>

          <p class="list-group-item-text">7.2 You must park and lock the BleeperBike at a recognised public cycle
            parking prior to the end of the maximum period of use.</p>

          <p class="list-group-item-text">7.3 The bike is deemed lost and Charges shall apply should the maximum period
            of use be exceeded.</p><br>

          <h4 class="list-group-item-heading">8. BIKE FAULTS</h4><br>

          <p class="list-group-item-text">8.1 We ask that you carry out a visual inspection of the bike before unlocking
            it. Also, if you discover any problems with the bike once unlocked, you have five minutes from unlocking to
            return it to a recognised parking area. If you report the fault to us using the App you will not be charged
            in this instance, provided the bike is returned within the five minute grace period.</p><br>

          <h4 class="list-group-item-heading">9. USER OBLIGATIONS</h4><br>

          <p class="list-group-item-text">9.1 You are responsible for keeping the bike safe at all times whilst it is in
            your possession or control.</p>

          <p class="list-group-item-text">9.2 You agree to use the bike safely and responsibly and in accordance with
            applicable laws and regulations including the Highway Code.</p>

          <p class="list-group-item-text">9.3 You shall comply with all policies we have in place from time to time
            regarding your bike hire and use of the BleeperBike service.</p>

          <p class="list-group-item-text">9.4 You are responsible for all items you transport on a bike.</p>

          <p class="list-group-item-text">9.5 You must return the bike in the same condition as when you unlocked it,
            except for fair wear and tear.</p>

          <p class="list-group-item-text">9.6 We may occasionally need you to provide us with information regarding your
            use of a bike. If requested, you agree to provide details of your full name and address and details of each
            specified bike hire, including in respect of your use of the bike and the route taken.</p><br>

          <h4 class="list-group-item-heading">10. BIKE USAGE RESTRICTIONS</h4><br>

          <p class="list-group-item-text">10.1 You must not:</p>

          <p class="list-group-item-text">10.1.1 allow any other person to ride the bike and you must not give a lift to
            any passengers, including animals;</p>

          <p class="list-group-item-text">10.1.2 tamper with, modify or attempt to disassemble the bike in any way and
            you must not add any accessories or other additions to the bike;</p>

          <p class="list-group-item-text">10.1.3 damage the bike;</p>

          <p class="list-group-item-text">10.1.4 lock the bike other than in accordance with BleeperBike
            instructions;</p>

          <p class="list-group-item-text">10.1.5 use a bike for any business purposes;</p>

          <p class="list-group-item-text">10.1.6 load the bike with a total weight of more than 120 kilograms;</p>

          <p class="list-group-item-text">10.1.7 carry any illegal or dangerous objects;</p>

          <p class="list-group-item-text">10.1.8 use the bike in a reckless or dangerous manner and you must not use the
            bike for any kind of stunts or ticks; </p>

          <p class="list-group-item-text">10.1.9 use the bike in connection with any illegal, immoral or disorderly
            conduct.</p><br>

          <h4 class="list-group-item-heading">11. REFERRALS</h4><br>

          <p class="list-group-item-text">11.1 If you refer BleeperBike to a friend who subscribes to an annual
            membership we will give you a one month extension on your membership or give you a one month membership if
            you are a pay as you go user.</p>

          <p class="list-group-item-text">11.2 If you refer BleeperBike to a friend who signs up for an account
            (including having registered a debit or credit card) you and your friend will each receive a €1 bonus
            credit.</p><br>

          <h4 class="list-group-item-heading">12. INSURANCE</h4><br>

          <p class="list-group-item-text">12.You are not insured by us to use Bleeperbikes and you do so entirely at your own risk. it is advised that you take out your own public liability insurance if you do not have such policy already in place. <h4 class="list-group-item-heading">13. OTHER CHARGES</h4><br>

          <p class="list-group-item-text">13.1 If you damage a bike we will charge you a repair fee, payable on demand,
            of up to a maximum of €500.</p>

          <p class="list-group-item-text">13.2 If you lose a bike you shall immediately pay us €500.</p>

          <p class="list-group-item-text">13.3 You hereby authorise us to deduct these payment from the payment card
            registered to your BleeperBike account.</p><br>

          <h4 class="list-group-item-heading">14. COMPLAINTS AND DISPUTES</h4><br>

          <p class="list-group-item-text">14.1 Complaints and disputes are handled according to our Complaints Handling
            Policy. We have 14 days to reply to an initial complaint. You agree to provide us with any information we
            may request to help in our investigation.</p>

          <p class="list-group-item-text">14.2 These terms and conditions shall be governed by Irish Law.</p>

          <p class="list-group-item-text">14.3 If a dispute arises between you and us and you want to take court
            proceedings, you must do so at a court in the Republic of Ireland.</p><br>

          <h4 class="list-group-item-heading">15. FURTHER INFORMATION</h4><br>

          <p class="list-group-item-text">15.1 Only you and we have rights under these terms and conditions. No other
            person shall have any rights under these terms and conditions.</p>

          <p class="list-group-item-text">15.2 You may not transfer any of your rights under these terms and conditions
            to any other person.</p><br>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>