body{
    margin: 0 auto;
    width:10rem;
    max-width: 10rem;
}
.wrap{
    position: fixed;
    width: 10rem;
    background: #fff;
    z-index: 999999;
}
.header{
    /*overflow: hidden;*/
    padding: 0 .53rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    z-index: 9999;
}
.header .header_l{
    background: url("../img/mobile/slidemenue.png") no-repeat center;
    width: .56rem;
    height: .48rem;
    /*float: left;*/
    background-size: cover;
}
.logo{
    background: url("../img/web/logo_v2.png") no-repeat center;
    width: 3.5rem;
    height: .76rem;
    margin-left: 2.33rem;
    margin-top: .3rem;
    background-size: cover;
}
.header .header_r{
    position: absolute;
    right: .53rem;
    top: .25rem;
}
.header .header_r a{
    height: .72rem;
    width: 1.69rem;
    border: solid #888 0.04rem;
    display: block;
    font-size: .24rem;
    line-height: .72rem;
    text-align: center;
    border-radius: 0.04rem;
    color: #434343;
}
.header .hidden_ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.3rem;
}
.hidden_ul ul{
    background-color: #fff;
    padding: 0 .53rem;
    height: 6.7rem;
}
.hidden_ul ul li{
    border-bottom: 1px solid #ccc;
}
.hidden_ul ul li a{
    font-size: .49rem;
    color: #454545;
    height: 1.32rem;
    line-height: 1.32rem;
    display: block;
}
.header_bg{
    font-size: 0;
    position: relative;
	top: -1rem;
}
.circle{
    width: 5.48rem;
    height: 1.6rem;
    position: absolute;
    left: 2.6rem;
    top: 5rem;
}
.circle p{
    font-size: .64rem;
    /*font-family: 'FZLTZCHK';*/
    font-weight: bold;
    color: #fff;
    text-align: center;
}
/*banner*/
.banner{
    padding: 0 .53rem;
}
.banner_title{
    text-align: center;
    padding-top: 1.33rem;
}
.banner_title h3{
    font-size: .48rem;
}
.banner_title p{
    font-size: .26rem;
    /*font-size: 14px;*/
    padding-top: .41rem;
    color: #909090;
}
.loop{
    height: 11.28rem;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
}
.loop_box{
    background: url("../img/mobile/iponebg.png") no-repeat center;
    width: 5.42rem;
    height: 11.28rem;
    position: absolute;
    left: 1.76rem;
    background-size: cover;
}
.slide{
    width: 4.68rem;
    height: 8.32rem;
    position: absolute;
    top: 1.4rem;
    left: .37rem;
    overflow: hidden;
}
.loop_box ul{
    position: absolute;
    top:0;
    left:0;
    height: 8.32rem;
    /*overflow: hidden;*/
    /*display: none;*/
    width: 23.4rem;
}
.loop_box ul li{float:left}
.loop_box ul li img{
    height: 8.32rem;
    width: 4.68rem;
}
.slide_box{
    text-align: center;
    height: .77rem;
    width: 44.67rem;
}
.slide_box .item{
    text-align: center;
    float: left;
    width: 8.9rem;
}
.slide_box .item h3{
    font-size:.4rem;
    color: #434343;
}
.slide_box .item p{
    font-size: .32rem;
    color: #909090;
    margin-top: .42rem;
}
.banner_desc{
    overflow:hidden;
    margin-top: .65rem;
    padding-bottom: .65rem;
}
/*meet*/
.meet{
    margin-top: 2.13rem;
}
.bleeper{
    height: 9.33rem;
    background-color: #f5f3f3;
    padding: 1.06rem .53rem 0;
    text-align: center;
    position: relative;
}
.bleeper_mt h3{
    font-size: .48rem;
    color: #333;
}
.bleeper_mt p{
    font-size: .32rem;
    color: #909090;
    padding-top: .53rem;
    padding-bottom: 1.76rem;
}
/*.bleeper_bike{position:relative;}*/
/*.lineBox{position:absolute}*/
.bleeper_bike ul li{
    display: inline-block;
    position: absolute;
}
.bleeper_bike ul li p{
    font-size: .32rem;
    color: #909090;
    display: none;
}
.led{
    left: 1.94rem;
    bottom: -1.93rem;
}
.led .led_cover{
    position: absolute;
    top: -5.48rem;
    left: 1.05rem;
    display: none;
}
.led .led_cover .led_line{
    background:url("../img/mobile/1.png") no-repeat center;
    width:.1333rem;
    height:5.28rem;
    background-size: cover;
}
.brake{
    left: 1.42rem;
    bottom: -3.26rem;
}
.brake .brake_cover{
    position: absolute;
    top: -5.57rem;
    left: 1.1rem;
    display: none;
}
.brake .brake_cover .brake_line{
    background:url("../img/mobile/2.png") no-repeat center;
    width:.1333rem;
    height:5.37rem;
    background-size: cover;
}
.hub{
    bottom: -4.6rem;
    left: .56rem;
}
.hub .hub_cover{
    position: absolute;
    left: 1.46rem;
    top: -5.48rem;
    display: none;
}
.hub .hub_cover .hub_line{
    background:url("../img/mobile/1.png") no-repeat center;
    width:.1333rem;
    height: 5.28rem;
    background-size: cover;
}
.seat{
    right: 2.82rem;
    bottom: -1.93rem
}
.seat .seat_cover{
    position: absolute;
    top: -5.96rem;
    left: 1rem;
    display: none;
}
.seat .seat_cover .seat_line{
    background:url("../img/mobile/4.png") no-repeat center;
    width:.1333rem;
    height: 5.76rem;
    background-size: cover;
}
.gps{
    right: 1.34rem;
    bottom: -3.26rem;
}
.gps .gps_cover{
    position: absolute;
    top: -5.88rem;
    left: 1.81rem;
    display: none;
}
.gps .gps_cover .gps_line{
    background:url("../img/mobile/5.png") no-repeat center;
    width:.1333rem;
    height:5.68rem;
    background-size: cover;
}
.built{
    right: .74rem;
    bottom: -4.6rem;
}
.built .built_cover{
    position: absolute;
    top: -5.96rem;
    left: 1.12rem;
    display: none;
}
.built .built_cover .built_line{
    background:url("../img/mobile/4.png") no-repeat center;
    width:.1333rem;
    height:5.76rem;
    background-size: cover;
}
/*parkingrules*/
.parkingRules{
    margin-top: 7rem;
    text-align: center;
    font-size: 0;
}
.rule_desc p{
    font-size: .24rem;
    color: #909090;
    padding-top: .4rem;
}
.rule_desc img{
    /*width: 1.9rem;*/
    /*height: 2.3rem;*/
    margin-top: .73rem;
    margin-bottom: 0.58rem;
}
.rule_morality p{
    font-size: .24rem;
    color: #909090;
    padding: 0 .53rem;
    line-height: .56rem;
}
.rule_img{
    margin-top: .58rem;
}
/*price*/
/*.price_wrap{*/
    /*background: url("../img/mobile/pricebg.png") no-repeat center;*/
    /*background-size: cover;*/
/*}*/
.price h3{
    padding: 2.13rem 0 .76rem;
    text-align: center;
}
.price_fee{
    /*background:url("../img/mobile/PayAsYouGo.png") no-repeat center;*/
    /*background-size: 100%;*/
    position: relative;
}
.price_t{
    font-size: 0;
}
.price_i{
    padding: 0 .53rem;
    font-size: 0;
    margin-top: -.53rem;
}
.price_fee_box{
    position: absolute;
    top: 1.4rem;
    right: .13rem;
    width: 6.53rem;
    height: 3.4rem;
    text-align: center;
    z-index: 99;
    padding: 0 .2rem;
}
.price_fee_box p{
    font-size: .32rem;
    color: #fff;
}
.price_credit .price_credit_wrap .credit_l{
    /*background:url("../img/mobile/creditr.png") no-repeat center;*/
    /*background-size: 100%;*/
    margin-top: -.24rem;
    position: relative;
}
.price_credit .price_credit_wrap .credit_r{
    /*background:url("../img/mobile/credit2.png") no-repeat center;*/
    /*background-size: 100%;*/
    margin-top: 0;
    position: relative;
    height: 5.45rem;
}
.credit_l{
    height: 5.45rem;
}
.credit_l .credit_l_img{
    font-size: 0;
    position: absolute;
    left: .32rem;
}
.credit_l .credit_l_img img{
    height: 5.45rem;
    width: 9.36rem;
}
.credit_r .credit_r_img{
    font-size: 0;
    position: absolute;
    left: .32rem;
}
.credit_r .credit_r_img img{
    height: 5.45rem;
    width: 9.36rem;
}
.credit_wrap{
    height: 4.8rem;
    width: 9.36rem;
    position: absolute;
    left: .32rem;
    top: .68rem;
}
.credit_wrap p{
    font-size: .4rem;
    color: #fff;
    height: .8rem;
    line-height: .8rem;
    padding: 0 .2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.credit_wrap ul li span{
    font-size: .32rem;
    color: #fff;
    display: table-cell;
    white-space: normal;
}
.credit_wrap ul{
    padding: 0 .2rem;
}
.credit_wrap ul li{
    padding-bottom: .1rem;
    line-height: 0.6rem;
    width: 100%;
    display: -webkit-flex;
    align-items: center;
     display: -webkit-box;
    -webkit-box-align: center;
    display: table;
    /* line-height: 1; */
    vertical-align: middle;
}
.credit_desc{
    width: 86%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.credit_descr{
    width: 74%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.credit_count{
    width: 14%;
    text-align: center;
}
.credit_countr{
    width: 26%;
    text-align: center;
}
/*footer*/
.bike_logo{
    background: url("../img/mobile/logo.png") no-repeat center;
    width: 3.2rem;
    height: .74rem;
    margin-left: 2.9rem;
    margin-bottom: .4rem;
    background-size: cover;
}
.footer{
    background-color: #1b212b;
    height: 6.9rem;
    margin-top: 1.333rem;
    padding-top: .4rem;
    position: relative;
}
.footer_wrap{
    padding: 0 .53rem;
}
.footer_wrap ul{
    display: table;
    width: 100%;
}
.footer_wrap ul li{
    display: table-cell;
    width: 50%;
    padding-left: .8rem;
}
.footer_wrap ul li strong{
    font-size: .4rem;
    color: #fff;
}
.footer_wrap ul li a{
    font-size: .32rem;
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
    line-height:1;
    margin-top: .32rem;
}
.footer_wrap ul li a:nth-child(1){
    margin-top: 1.06rem;
}
.footer_wrap ul li span:nth-child(2){
    margin-top: .68rem;
}

.footer_wrap ul li a:hover{
    color: #bfbfbf;
}

.footer .ltd{
    font-size: .266rem;
    color: #4e5560;
    display: block;
    position: absolute;
    width: 100%;
    bottom: .53rem;
    text-align: center;
    left: 0;
}
h3{
    font-size: .48rem;
    color: #333;
    line-height: 1;
}
/*faq*/
.faqBox{
    padding: 0 .53rem;
    position: relative;
    width: 8.93rem;
}
.termBox{
    padding: 0 .53rem;
    position: relative;
    width: 8.93rem;
}
.faq{
    position: absolute;
    background: #fff;
    width: 9rem;
    left: .5rem;
    top: -5.4rem;
    border: 2px solid #434343;
    border-radius: 4px;
    height: 5.4rem;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
}
.faq .faq-title{
    font-size: .32rem;
    color: #434343;
    height: 0.6rem;
    line-height: .6rem;
    padding-left: .2rem;
    border-bottom: 1px solid #e2e2e2;
}
.faq ul{
    /*border-top: 1px solid #e2e2e2;*/
    /*border-bottom: 1px solid #e2e2e2;*/
    padding: .2rem;
    width: 5rem;
}
.faq ul li p{
    font-size: .24rem;
    padding: .1rem 0;
    color: #434343;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.faq ul li{
    margin-top: .15rem;
}
.faq span{
    font-size: .5rem;
    position: absolute;
    right: .1rem;
    top: .05rem;
    color: #434343;
    display: block;
    cursor: pointer;
}
.faq_nav {
    position: absolute;
    right: 0;
    top: 1rem;
    background-color: #e2e2e2;
    width:3.2rem;
    padding: .2rem 0 0;
}
.faq_nav ul{
    width:3.8rem;
    padding: 0 .2rem;
}
.faq_nav ul li{
    font-size: .24rem;
    color: #434343;
}
.faq_nav p{
    font-size: .24rem;
    color: #434343;
    padding-left: .2rem;
}
.zezao{
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.8);
    height: 111rem;
    top: -104rem;
    display: none;
}
.term{
    position: absolute;
    background: #fff;
    width: 8rem;
    left: 1rem;
    top: -5.4rem;
    border: 2px solid #434343;
    border-radius: 4px;
    height: 6.4rem;
    display: none;
    overflow-y:scroll ;
}
.term .term-title{
    font-size: .32rem;
    color: #434343;
    height: 0.6rem;
    line-height: .6rem;
    padding-left: .2rem;
}
.term ul{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: .2rem;
}
.term ul li p{
    font-size: .24rem;
    padding: .1rem 0;
    color: #434343;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.term ul li{
    margin-top: .15rem;
}
.term span{
    font-size: .5rem;
    position: absolute;
    right: .1rem;
    top: .05rem;
    color: #434343;
    display: block;
    cursor: pointer;
}

.term ul p{
    font-size: .24rem;
    padding-top: .1rem;
    word-spacing: .05rem;
    color: #000;
}
.term2{
    position: absolute;
    background: #fff;
    width: 8rem;
    left: 1rem;
    top: -5.4rem;
    border: 2px solid #434343;
    border-radius: 4px;
    height: 6.4rem;
    display: none;
    overflow-y:scroll ;
}
.term2 .term2-title{
    font-size: .32rem;
    color: #434343;
    height: 0.6rem;
    line-height: .6rem;
    padding-left: .2rem;
}
.term2 ul{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: .2rem;
}
.term2 span{
    font-size: .5rem;
    position: absolute;
    right: .1rem;
    top: .05rem;
    color: #434343;
    display: block;
    cursor: pointer;
}

.term2 ul p{
    font-size: .24rem;
    padding-top: .1rem;
    word-spacing: .05rem;
    color: #000;
}
.termBox2{
    padding: 0 .53rem;
    position: relative;
    width: 8.93rem;
}
.foter .qqq{
    color:red;
}