html{-webkit-text-size-adjust: none;}
body{font-family:'ArialMT-Regular','Helvetica Neue','sans-serif';-webkit-tap-highlight-color: rgba(0,0,0,0);padding:0;
    margin:0;  font-size:16px;box-sizing: border-box;}
ul,ol,li,a,input,h1,h2,h3,h4,h5,h6,p,span,dt,dd{list-style: none;text-decoration: none;outline: none;border: none;padding: 0;
    margin:0;
    font-family: 'Muli', sans-serif;
}
input::-webkit-input-placeholder {
    /*color:red;*/
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
a{ color: #000;}
button{border:none;background: none;}
img{ width:100%;}
/*div::before{*/
    /*content: '';*/
    /*display: table;*/
/*}*/
/*div::after{*/
    /*content: '';*/
    /*display: table;*/
/*}*/
.clearfix{
    clear: both;
    content: '';
    display: table;
}
.clearfix::before{
    content: '';
    display: table;
}
.clearfix::after{
    content: '';
    display: table;
}
.flex-box{
    display: -webkit-box;
}
.box-flex{
    -webkit-box-flex: 1;
}
h3,p{line-height:1}

