body,html{
    width:100%;
    height:100%;
    font-family: 'ArialMT-Regular','MicrosoftYaHeiUI','Helvetica Neue','sans-serif';
    font-size: 18px;
    color:#333;
    background: #fff;

}
.header_wrap{
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 9999;*/
    width: 100%;
    padding-top: 0.42%;
    background-color: #fff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.header_wrap .header{
    width: 1202px;
    margin: 0 auto;
    overflow: hidden;
}
.header .logo{
    float: left;
    padding-top: 9px;
}
.header .nav_ul{float:right;}
.header .nav_ul ul{
    overflow: hidden;
    line-height: 1;
    padding-top: 20px;
}
.nav_ul ul li{
    float: left;
    margin-left: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.nav_ul ul li a{
    color: #000;
}
.header_bg{font-size: 0;position: relative; top:60px;}
.circle{
    position: absolute;
    left: 645px;
    top: 170px;
}
.circle p{
    font-size: 48px;
    text-align: center;
    /*font-family: 'FZLTZCHK';*/
    font-weight: bold;
    color: #fff;
}
/*banner*/
.banner{
    width: 1202px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.banner_title p{
    color: #909090;
    padding: 20px 0 56px;
}
.banner_loop .loop{
    width: 315px;
    overflow: hidden;
    margin: 0 auto;
    background: url("../img/web/ip.png") no-repeat center;
    font-size: 0;
    height: 658px;
    position: relative;
}
.loop .loop_box{
    width: 282px;
    overflow: hidden;
    position: absolute;
    top: 85px;
    left: 14px;
    height: 501px;
}
.loop .loop_box ul{
    width: 1410px;
    position: absolute;
    left: 0;
    top: 0;
}
.banner_loop .loop ul{
    width: 1974px;
    margin: 0 auto;
    height: 658px;
    overflow: hidden;
}
.loop ul li{float: left;}
.loop_btn .item p{
    line-height: 30px;
    color: #909090;
    padding-top: 16px;
}
.loop_btn .item h3{
    font-size: 28px;
    color: #434343;
    margin-top: 50px;
}
/*loop*/
.line{
    background: url('../img/web/dotted.png') no-repeat center;
    width: 86px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: -60px;
    top: 45px;
}
.loop_bg{width:100px;height:100px;margin-left:37px;}
.loop_btn{overflow:hidden;margin-top: 117px;}
.loop_btn .item{
    width: 190px;
    /*height: 294px;*/
    position: relative;
    float: left;
    text-align: center;
    margin-left: 45px;
}
.item .icon001{background:url("../img/web/icon01.png") no-repeat center}
.item .icon002{background:url("../img/web/icon02.png") no-repeat center}
.item .icon003{background:url("../img/web/icon03.png") no-repeat center}
.item .icon004{background:url("../img/web/icon04.png") no-repeat center}
.item .icon005{background:url("../img/web/icon05.png") no-repeat center}
.bg01{
    background: url('../img/web/icon001.png') no-repeat center;
}
.bg02{
    background: url('../img/web/icon002.png') no-repeat center;
}
.bg03{
    background: url('../img/web/icon003.png') no-repeat center;
}
.bg04{
    background: url('../img/web/icon004.png') no-repeat center;
}
.bg05{
    background: url('../img/web/icon005.png') no-repeat center;
}
/*meet bleeperbike*/
.main .bleeper{
    width: 100%;
    height: 659px;
    background-color: #f2f2f2;
    margin: 0 auto;
    text-align: center;
    margin-top: 114px;
}
.bleeper .bleeper_box{
    width: 1202px;
    margin: 0 auto;
    padding-top: 125px;
    height: 502px;
}
.bleeper_box .bleeper_mt p{
    color: #909090;
    margin-top: 19px;
}
.bleeper_box .bleeper_bike{
    margin-top: 83px;
    position: relative;
}
.bleeper_bike .lineBox{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}
.bleeper_bike .lineBox li{
    position: absolute;
}
.bleeper_bike .lineBox li p{
    float: left;
    color: #909090;
    display: none;
}
.lineBox .led{
    position: absolute;
    left: 36px;
    top: -16px;
}
.lineBox .led .led_cover{
    position: absolute;
    left: 137px;
    top: 4px;
    display: none;
}
.led .led_line{
    background:url('../img/web/1.png') no-repeat center;
    width:257px;
    height:174px;
}
.lineBox .brake{
    left: 36px;
    top: 147px;
}
.lineBox .brake .brake_cover{
    top: 4px;
    left: 149px;
    position: absolute;
    display: none;
}
.brake .brake_line{
    background:url('../img/web/2.png') no-repeat center;
    width:225px;
    height:85px;
}
.lineBox .hub{
    left: 108px;
    bottom: -52px;
}
.lineBox .hub .hub_cover{
    position: absolute;
    left: 188px;
    top: -185px;
    display: none;
}
.hub .hub_line{
    background:url('../img/web/3.png') no-repeat center;
    width:65px;
    height:200px;
}
.lineBox .seat{
    right: 180px;
    top: 15px;
}
.lineBox .seat .seat_cover{
    position: absolute;
    left: -150px;
    top: 4px;
    display: none;
}
.seat .seat_line{
    background:url('../img/web/4.png') no-repeat center;
    width:144px;
    height:81px;
}
.lineBox .gps{
    right: 20px;
    top: 148px;
}
.lineBox .gps .gps_cover{
    position: absolute;
    left: -210px;
    top: 4px;
    display: none;
}
.gps .gps_line{
    background:url('../img/web/5.png') no-repeat center;
    width:205px;
    height:61px;
}
.lineBox .built{
    right: 68px;
    bottom: -20px;
}
.lineBox .built .built_cover{
    position: absolute;
    left: -140px;
    top: -191px;
    display: none;
}
.built .built_line{
    background:url('../img/web/6.png') no-repeat center;
    width:130px;
    height:206px;
}
/*parking*/
.parkingRules{margin-top:33%;}
.parkingRules .parking_wrap{
    width: 1202px;
    margin: 0 auto;
    text-align: center;
}
.parking_wrap .rule_desc p{
    font-size: 18px;
    color: #909090;
    margin-top: 19px;
}
.parking_wrap .rule_desc img{
    margin-top: 45px;
    width:142px;
    height:175px;
}
.parking_wrap .rule_img{margin-top:5%;}
.parking_wrap .rule_morality p{
    font-size: 24px;
    line-height: 46px;
    color: #333;
    padding-top: 47px;
}
.parkingRules .rule_design{
    margin-top: 5%;
}
.parkingRules .rule_design img{width:100%; height: auto;}
/*price*/
.price h3{
    padding: 10% 0 8%;
}
.price_fee{
    background: url('../img/web/banner1.png') no-repeat center;
    height: 445px;
    position: relative;
    width: 100%;
}
.price_fee .price_fee_wrap{
    width: 1202px;
    margin: 0 auto;
    height: inherit;
    position: relative;
}
.price_fee .price_fee_wrap .price_fee_box{
    /*width: 532px;*/
    width: 500px;
    height: 330px;
    position: absolute;
    text-align: center;
    top: 80px;
   /* left: 305px;*/
    left: 320px;
    padding: 0 20px;
    /*overflow-y: scroll;*/
    overflow-y: auto;
}
.price_fee_wrap .price_fee_box p{
    font-size: 24px;
    color: #fff;
    line-height:36px;
	/*display:inline;*/
}
/*.price_credit{margin-top: -35px;}*/
.price_credit .price_credit_wrap{
    background:url('../img/web/credit_bg.png') no-repeat center;
    height:374px;
    position: relative;
    background-size: cover;
    width: 1202px;
    margin: 0 auto;
    margin-top: -35px;
}
.price_credit_wrap .credit_l{
    width: 600px;
    height: 320px;
    position: absolute;
    left: 0;
    bottom: 0;
	/*overflow-y:scroll*/
}
.price_credit_wrap .credit_wrap{padding-left:20px;}
.price_credit_wrap .credit_wrap li{
    overflow: hidden;
    padding-bottom: 30px;
}
.price_credit_wrap .credit_wrap span{
    color: #fff;
    line-height: 1;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.credit_wrap .credit_desc{
    width: 460px;
    font-size: 18px;
}
.credit_wrap .credit_descr{
    width: 420px;
    font-size: 18px;
}
.credit_wrap .credit_count{
    width: 102px;
    text-align: center;
    font-size: 18px;
}
.credit_wrap .credit_countr{
    width: 125px;
    text-align: center;
    font-size: 18px;
}
.price_credit_wrap .credit_wrap ul{
    padding-top: 29px;
}
.price_credit_wrap p{
    font-size: 24px;
    color: #fff;
    padding-top: 18px;
}
.price_credit_wrap .credit_r{
    width: 600px;
    height: 320px;
    position: absolute;
    right:0;
    bottom:0;
	/*overflow-y:scroll;*/
}
/*download*/
.download{
    width: 1202px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    height: 1056px;
    position: relative;
}
.download h3{padding: 232px 0 130px;}
.download_bg{
    background: url('../img/web/phone.png') no-repeat center;
    height: 672px;
    width: 628px;
    position: absolute;
    left: 104px;
    bottom: 0;
}
.download .down_bgimg{
    width: 192px;
    height: 140px;
    position: absolute;
    right: 134px;
    bottom: 253px;
}
.download a{
    width:190px;
    height:56px;
    display: block;
}
.download .iphone{
    background:url('../img/web/download.png') no-repeat center -4px;
    /*width:190px;*/
    /*height:56px;*/
}
.download .android{
    background:url('../img/web/download.png') no-repeat center -111px;
    /*width:190px;*/
    /*height:56px;*/
    margin-top: 28px;
}
/*footer*/
.footer{
    width: 100%;
    background-color: #1b212b;
    /*height: 544px;*/
    position: relative;
}
.footer_wrap{
    /*width:1202px;*/
    margin:0 auto;
}
.footer_wrap ul{
    color: #fff;
    padding:10% 15% 10%;
    overflow: hidden;
}
.footer_wrap ul li{
    float: left;
}
.footer_wrap ul li strong{
    font-size: 24px;
    display: block;
    line-height:1;
    padding-bottom: 44px;
}
.footer_wrap ul li a{
    font-size: 18px;
    color: #fff;
    display: block;
    text-decoration: none;
    line-height:1;
    padding-bottom:25px;
    cursor: pointer;"
}

.footer_wrap ul li a:hover{
    color: #bfbfbf;
}

.footer_wrap .useful{
    margin-left: 126px;
}
.footer_wrap .apps{
    margin-left: 211px;
}
.footer_wrap p{
    color: #4e5560;
    font-size: 18px;
    text-align: center;
    line-height: 1;
}
h3{
    font-size: 36px;
    color: #333;
    line-height:1;
    text-align: center;
}
p{line-height:1;font-size: 18px;}
/*faq*/
.faq{
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color: #fff;
    top: -280px;
    left: 5%;
    border: 2px solid #434343;
    border-radius: 4px;
    z-index: 999999;
    display: none;
    overflow-y: scroll;
}
.faq .faq-title{
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #434343;
    padding-left: 10px;
    border-bottom: 1px solid #909090;
}
.faq ul{
    /*border-top: 1px solid #909090;*/
    /*border-bottom: 1px solid #909090;*/
    padding: 20px 10px;
    width:800px;
}
.faq ul li p{
    height: 25px;
    line-height: 25px;
    padding: 5px 0;
    color: #434343;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.faq ul li{
    margin-top: 10px;
}
.faq span{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    color: #434343;
    display: block;
    cursor: pointer;
}
.faq_nav{
    width: 380px;
    position: absolute;
    right: 0;
    top: 70px;
    background: #e2e2e2;
    padding: 30px 10px;
}
.faq_nav ul{
    width:380px;
    padding: 0;
}
.faq_nav ul li{
    color: #434343;
}
.zezao{
    width: 100%;
    height: 8000px;
    position: absolute;
    background: rgba(0,0,0,.8);
    top: -7454px;
    z-index: 999;
    display: none;
	overflow-y:scroll;
}
.term{
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: #fff;
    top: -280px;
    left: 25%;
    border: 2px solid #434343;
    border-radius: 4px;
    z-index: 999999;
    display: none;
    overflow-y: scroll;
}
.term .term-title{
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #434343;
    padding-left: 10px;
}
.term ul{
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    padding: 20px 10px;
}
.term ul p{
	padding-bottom:10px
}
.term ul li p{
    height: 25px;
    line-height: 25px;
    padding: 5px 0;
    color: #434343;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.term ul li{
    margin-top: 10px;
}
.term span{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    color: #434343;
    display: block;
    cursor: pointer;
}
.policy{
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: #fff;
    top: -280px;
    left: 25%;
    border: 2px solid #434343;
    border-radius: 4px;
    z-index: 999999;
    display: none;
    overflow-y: scroll;
}
.policy .policy-title{
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #434343;
    padding-left: 10px;
}
.policy ul{
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    padding: 20px 10px;
}
.policy ul p{
    padding-bottom:10px;
    line-height: 24px;
    text-align: justify;
}
.policy span{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    color: #434343;
    display: block;
    cursor: pointer;
}
.overflow_hidden{
    overflow-y: scroll;
}

/* mobile vision*/
@media only screen and (max-width: 500px) {
    body{
        margin: 0 auto;
        width:10rem;
        max-width: 10rem;
    }
    .wrap{
        position: fixed;
        width: 10rem;
        background: #fff;
        z-index: 999999;
    }
    .header{
        /*overflow: hidden;*/
        padding: 0 .53rem;
        height: 1.3rem;
        display: flex;
        align-items: center;
        position: relative;
        display: -webkit-box;
        -webkit-box-align: center;
        -moz-box-align: center;
        z-index: 9999;
    }
    .header .header_l{
        background: url("../img/mobile/slidemenue.png") no-repeat center;
        width: .56rem;
        height: .48rem;
        /*float: left;*/
        background-size: cover;
    }
    .header .logo{
        background: url("../img/mobile/logo.png") no-repeat center;
        width: 3.2rem;
        height: .74rem;
        margin-left: 2.33rem;
        background-size: cover;
    }
    .header .header_r{
        position: absolute;
        right: .53rem;
        top: .25rem;
    }
    .header .header_r a{
        height: .72rem;
        width: 1.69rem;
        border: solid #888 0.04rem;
        display: block;
        font-size: .24rem;
        line-height: .72rem;
        text-align: center;
        border-radius: 0.04rem;
        color: #434343;
    }
    .header .hidden_ul{
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.3rem;
    }
    .hidden_ul ul{
        background-color: #fff;
        padding: 0 .53rem;
        height: 6.7rem;
    }
    .hidden_ul ul li{
        border-bottom: 1px solid #ccc;
    }
    .hidden_ul ul li a{
        font-size: .49rem;
        color: #454545;
        height: 1.32rem;
        line-height: 1.32rem;
        display: block;
    }
    .header_bg{
        font-size: 0;
        position: relative;
        top: -1rem;
    }
    .circle{
        width: 5.48rem;
        height: 1.6rem;
        position: absolute;
        left: 2.6rem;
        top: 7rem;
    }
    .circle p{
        font-size: .64rem;
        /*font-family: 'FZLTZCHK';*/
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
    /*banner*/
    .banner{
        padding: 0 .53rem;
    }
    .banner_title{
        text-align: center;
        padding-top: 1.33rem;
    }
    .banner_title h3{
        font-size: .48rem;
    }
    .banner_title p{
        font-size: .26rem;
        /*font-size: 14px;*/
        padding-top: .41rem;
        color: #909090;
    }
    .loop{
        height: 11.28rem;
        position: relative;
        margin-top: 1rem;
        overflow: hidden;
    }
    .loop_box{
        background: url("../img/mobile/iponebg.png") no-repeat center;
        width: 5.42rem;
        height: 11.28rem;
        position: absolute;
        left: 1.76rem;
        background-size: cover;
    }
    .slide{
        width: 4.68rem;
        height: 8.32rem;
        position: absolute;
        top: 1.4rem;
        left: .37rem;
        overflow: hidden;
    }
    .loop_box ul{
        position: absolute;
        top:0;
        left:0;
        height: 8.32rem;
        /*overflow: hidden;*/
        /*display: none;*/
        width: 23.4rem;
    }
    .loop_box ul li{float:left}
    .loop_box ul li img{
        height: 8.32rem;
        width: 4.68rem;
    }
    .slide_box{
        text-align: center;
        height: .77rem;
        width: 44.67rem;
    }
    .slide_box .item{
        text-align: center;
        float: left;
        width: 8.9rem;
    }
    .slide_box .item h3{
        font-size:.4rem;
        color: #434343;
    }
    .slide_box .item p{
        font-size: .32rem;
        color: #909090;
        margin-top: .42rem;
    }
    .banner_desc{
        overflow:hidden;
        margin-top: .65rem;
        padding-bottom: .65rem;
    }
    /*meet*/
    .meet{
        margin-top: 2.13rem;
    }
    .bleeper{
        height: 9.33rem;
        background-color: #f5f3f3;
        padding: 1.06rem .53rem 0;
        text-align: center;
        position: relative;
    }
    .bleeper_mt h3{
        font-size: .48rem;
        color: #333;
    }
    .bleeper_mt p{
        font-size: .32rem;
        color: #909090;
        padding-top: .53rem;
        padding-bottom: 1.76rem;
    }
    /*.bleeper_bike{position:relative;}*/
    /*.lineBox{position:absolute}*/
    .bleeper_bike ul li{
        display: inline-block;
        position: absolute;
    }
    .bleeper_bike ul li p{
        font-size: .32rem;
        color: #909090;
        display: none;
    }
    .led{
        left: 1.94rem;
        bottom: -1.93rem;
    }
    .led .led_cover{
        position: absolute;
        top: -5.48rem;
        left: 1.05rem;
        display: none;
    }
    .led .led_cover .led_line{
        background:url("../img/mobile/1.png") no-repeat center;
        width:.1333rem;
        height:5.28rem;
        background-size: cover;
    }
    .brake{
        left: 1.42rem;
        bottom: -3.26rem;
    }
    .brake .brake_cover{
        position: absolute;
        top: -5.57rem;
        left: 1.1rem;
        display: none;
    }
    .brake .brake_cover .brake_line{
        background:url("../img/mobile/2.png") no-repeat center;
        width:.1333rem;
        height:5.37rem;
        background-size: cover;
    }
    .hub{
        bottom: -4.6rem;
        left: .56rem;
    }
    .hub .hub_cover{
        position: absolute;
        left: 1.46rem;
        top: -5.48rem;
        display: none;
    }
    .hub .hub_cover .hub_line{
        background:url("../img/mobile/1.png") no-repeat center;
        width:.1333rem;
        height: 5.28rem;
        background-size: cover;
    }
    .seat{
        right: 2.82rem;
        bottom: -1.93rem
    }
    .seat .seat_cover{
        position: absolute;
        top: -5.96rem;
        left: 1rem;
        display: none;
    }
    .seat .seat_cover .seat_line{
        background:url("../img/mobile/4.png") no-repeat center;
        width:.1333rem;
        height: 5.76rem;
        background-size: cover;
    }
    .gps{
        right: 1.34rem;
        bottom: -3.26rem;
    }
    .gps .gps_cover{
        position: absolute;
        top: -5.88rem;
        left: 1.81rem;
        display: none;
    }
    .gps .gps_cover .gps_line{
        background:url("../img/mobile/5.png") no-repeat center;
        width:.1333rem;
        height:5.68rem;
        background-size: cover;
    }
    .built{
        right: .74rem;
        bottom: -4.6rem;
    }
    .built .built_cover{
        position: absolute;
        top: -5.96rem;
        left: 1.12rem;
        display: none;
    }
    .built .built_cover .built_line{
        background:url("../img/mobile/4.png") no-repeat center;
        width:.1333rem;
        height:5.76rem;
        background-size: cover;
    }
    /*parkingrules*/
    .parkingRules{
        margin-top: 7rem;
        text-align: center;
        font-size: 0;
    }
    .rule_desc p{
        font-size: .24rem;
        color: #909090;
        padding-top: .4rem;
    }
    .rule_desc img{
        width: 1.9rem;
        height: 2.3rem;
        padding-top: .73rem;
        padding-bottom: 1.18rem;
    }
    .rule_morality p{
        font-size: .24rem;
        color: #909090;
        padding: 0 .53rem;
        line-height: .56rem;
    }
    .rule_img{
        margin-top: .88rem;
    }
    /*price*/
    /*.price_wrap{*/
    /*background: url("../img/mobile/pricebg.png") no-repeat center;*/
    /*background-size: cover;*/
    /*}*/
    .price h3{
        padding: 2.13rem 0 .76rem;
        text-align: center;
    }
    .price_fee{
        /*background:url("../img/mobile/PayAsYouGo.png") no-repeat center;*/
        /*background-size: 100%;*/
        position: relative;
    }
    .price_t{
        font-size: 0;
    }
    .price_i{
        padding: 0 .53rem;
        font-size: 0;
        margin-top: -.53rem;
    }
    .price_fee_box{
        position: absolute;
        top: 1.4rem;
        right: .13rem;
        width: 6.53rem;
        height: 3.4rem;
        text-align: center;
        z-index: 99;
        padding: 0 .2rem;
    }
    .price_fee_box p{
        font-size: .32rem;
        color: #fff;
    }
    .price_credit .price_credit_wrap .credit_l{
        /*background:url("../img/mobile/creditr.png") no-repeat center;*/
        /*background-size: 100%;*/
        margin-top: -.24rem;
        position: relative;
    }
    .price_credit .price_credit_wrap .credit_r{
        /*background:url("../img/mobile/credit2.png") no-repeat center;*/
        /*background-size: 100%;*/
        margin-top: 0;
        position: relative;
        height: 5.45rem;
    }
    .credit_l{
        height: 5.45rem;
    }
    .credit_l .credit_l_img{
        font-size: 0;
        position: absolute;
        left: .32rem;
    }
    .credit_l .credit_l_img img{
        height: 5.45rem;
        width: 9.36rem;
    }
    .credit_r .credit_r_img{
        font-size: 0;
        position: absolute;
        left: .32rem;
    }
    .credit_r .credit_r_img img{
        height: 5.45rem;
        width: 9.36rem;
    }
    .credit_wrap{
        height: 4.8rem;
        width: 9.36rem;
        position: absolute;
        left: .32rem;
        top: .68rem;
    }
    .credit_wrap p{
        font-size: .4rem;
        color: #fff;
        height: .8rem;
        line-height: .8rem;
        padding: 0 .2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .credit_wrap ul li span{
        font-size: .32rem;
        color: #fff;
        display: table-cell;
        white-space: normal;
    }
    .credit_wrap ul{
        padding: 0 .2rem;
    }
    .credit_wrap ul li{
        padding-bottom: .1rem;
        line-height: 0.6rem;
        width: 100%;
        display: -webkit-flex;
        align-items: center;
        display: -webkit-box;
        -webkit-box-align: center;
        display: table;
        /* line-height: 1; */
        vertical-align: middle;
    }
    .credit_desc{
        width: 86%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .credit_descr{
        width: 74%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .credit_count{
        width: 14%;
        text-align: center;
    }
    .credit_countr{
        width: 26%;
        text-align: center;
    }
    /*footer*/
    .bike_logo{
        background: url("../img/mobile/logo.png") no-repeat center;
        width: 3.2rem;
        height: .74rem;
        margin-left: 2.9rem;
        background-size: cover;
    }
    .footer{
        background-color: #1b212b;
        height: 6.9rem;
        margin-top: 1.333rem;
        padding-top: .4rem;
        position: relative;
    }
    .footer_wrap{
        padding: 0 .53rem;
    }
    .footer_wrap ul{
        display: table;
        width: 100%;
    }
    .footer_wrap ul li{
        display: table-cell;
        width: 50%;
        padding-left: .8rem;
    }
    .footer_wrap ul li strong{
        font-size: .4rem;
        color: #fff;
    }
    .footer_wrap ul li span{
        font-size: .32rem;
        color: #fff;
        display: block;
    }
    .footer_wrap ul li a:nth-child(1){
        margin-top: 1.06rem;
    }
    .footer_wrap ul li span:nth-child(2){
        margin-top: .68rem;
    }
    .footer .ltd{
        font-size: .266rem;
        color: #4e5560;
        display: block;
        position: absolute;
        width: 100%;
        bottom: .53rem;
        text-align: center;
        left: 0;
    }
    h3{
        font-size: .48rem;
        color: #333;
        line-height: 1;
    }
    /*faq*/
    .faqBox{
        padding: 0 .53rem;
        position: relative;
        width: 8.93rem;
    }
    .termBox{
        padding: 0 .53rem;
        position: relative;
        width: 8.93rem;
    }
    .faq{
        position: absolute;
        background: #fff;
        width: 9rem;
        left: .5rem;
        top: -5.4rem;
        border: 2px solid #434343;
        border-radius: 4px;
        height: 5.4rem;
        display: none;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .faq .faq-title{
        font-size: .32rem;
        color: #434343;
        height: 0.6rem;
        line-height: .6rem;
        padding-left: .2rem;
        border-bottom: 1px solid #e2e2e2;
    }
    .faq ul{
        /*border-top: 1px solid #e2e2e2;*/
        /*border-bottom: 1px solid #e2e2e2;*/
        padding: .2rem;
        width: 5rem;
    }
    .faq ul li p{
        font-size: .24rem;
        padding: .1rem 0;
        color: #434343;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .faq ul li{
        margin-top: .15rem;
    }
    .faq span{
        font-size: .5rem;
        position: absolute;
        right: .1rem;
        top: .05rem;
        color: #434343;
        display: block;
        cursor: pointer;
    }
    .faq_nav {
        position: absolute;
        right: 0;
        top: 1rem;
        background-color: #e2e2e2;
        width:3.2rem;
        padding: .2rem 0 0;
    }
    .faq_nav ul{
        width:3.8rem;
        padding: 0 .2rem;
    }
    .faq_nav ul li{
        font-size: .24rem;
        color: #434343;
    }
    .faq_nav p{
        font-size: .24rem;
        color: #434343;
        padding-left: .2rem;
    }
    .zezao{
        width: 100%;
        position: absolute;
        background: rgba(0,0,0,.8);
        height: 111rem;
        top: -104rem;
        display: none;
    }
    .term{
        position: absolute;
        background: #fff;
        width: 8rem;
        left: 1rem;
        top: -5.4rem;
        border: 2px solid #434343;
        border-radius: 4px;
        height: 6.4rem;
        display: none;
        overflow-y:scroll ;
    }
    .term .term-title{
        font-size: .32rem;
        color: #434343;
        height: 0.6rem;
        line-height: .6rem;
        padding-left: .2rem;
    }
    .term ul{
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        padding: .2rem;
    }
    .term ul li p{
        font-size: .24rem;
        padding: .1rem 0;
        color: #434343;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .term ul li{
        margin-top: .15rem;
    }
    .term span{
        font-size: .5rem;
        position: absolute;
        right: .1rem;
        top: .05rem;
        color: #434343;
        display: block;
        cursor: pointer;
    }

    .term ul p{
        font-size: .24rem;
        padding-top: .1rem;
        word-spacing: .05rem;
        color: #000;
    }
    .term2{
        position: absolute;
        background: #fff;
        width: 8rem;
        left: 1rem;
        top: -5.4rem;
        border: 2px solid #434343;
        border-radius: 4px;
        height: 6.4rem;
        display: none;
        overflow-y:scroll ;
    }
    .term2 .term2-title{
        font-size: .32rem;
        color: #434343;
        height: 0.6rem;
        line-height: .6rem;
        padding-left: .2rem;
    }
    .term2 ul{
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        padding: .2rem;
    }
    .term2 span{
        font-size: .5rem;
        position: absolute;
        right: .1rem;
        top: .05rem;
        color: #434343;
        display: block;
        cursor: pointer;
    }

    .term2 ul p{
        font-size: .24rem;
        padding-top: .1rem;
        word-spacing: .05rem;
        color: #000;
    }
    .termBox2{
        padding: 0 .53rem;
        position: relative;
        width: 8.93rem;
    }
    .foter .qqq{
        color:red;
    }
}