<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" style="margin-bottom: 1em;">
            <%= image_tag('img/web/white_logo.png', height: '30') %>
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bp-nav-trigger" style="margin-top: 0.5em">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#top">Home</a>
        </li>
        <li>
          <a class="page-scroll" href="#meet">Meet Bleeper</a>
        </li>
        <li>
          <a class="page-scroll" href="#works">How It Works</a>
        </li>
        <li>
          <a class="page-scroll" href="#rules">Parking Steps</a>
        </li>
        <li>
          <a class="page-scroll" href="#price">Payment Options & Rewards</a>
        </li>
        <li>
          <a class="page-scroll" href="" data-toggle="modal" data-target="#news">Bleeper Zones</a>
        </li>
        <li>
          <a class="page-scroll" href="mailto:sayhello@bleeperbike.com">Contact Us</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>