<!--header-nav-->
<div class="navbar navbar-default navbar-fixed-top" id="mainNav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-sm-3">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bp-nav-trigger" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <%= image_tag('img/web/logo_v3.png', height: '42') %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-sm-9 collapse navbar-collapse" id="bp-nav-trigger">
      <ul class="nav navbar-nav">
        <li><a href="#top">Home</a></li>
        <% unless (@news.nil?) %>
            <li><a href="#bleepernews">Bleeper&nbspNews</a></li>
        <% end %>
        <li><a href="#works">How&nbspit&nbspWorks</a></li>
        <li><a href="#rules">Parking&nbspRules</a></li>
        <li><a href="#price">Price</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="mailto:sayhello@bleeperbike.com">Contact Us</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-->
</div>