// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import 'custom/*';

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.btn-primary {
  background-color: #ff7001;
  border:0px solid transparent;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn-primary:hover {
  background-color: #ff7001;
  opacity:0.6;
}

.panel {
  border-color: #ff7001;

}
.panel-primary .panel-heading{
  background-color: #ff7001;
}

body.modal-open {
  overflow: visible;
}

.modal-dialog{
  width: 67%;
  margin: auto;
}


.fa-stack {
  color: #ff7001;
}

.fa-stack:hover {
  color: #ff7001;
  opacity:0.6;
}

